DATABASE_URL=postgresql://payment_user:payment_pass@postgres:5432/fraud_db
REDIS_URL=redis://:redis_pass@redis:6379/3
RABBITMQ_URL=amqp://rabbit_user:rabbit_pass@rabbitmq:5672/
AUTH_SERVICE_URL=http://auth-service:8001
SERVICE_PORT=8004
FRAUD_SCORE_THRESHOLD=70
MAX_TRANSACTIONS_PER_HOUR=10
MAX_AMOUNT_PER_DAY=5000000
